<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>특정 게시글</title>
</head>
<body>
특정 게시글 Page
<hr>
<img th:each="postImage : ${postImages}" th:src="@{|/posts/images/${postImage.getStoreFileName()}|}" alt="게시글 이미지">
<table border="1">
  <thead>
  <tr>
    <th>title</th>
    <th>content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${post.title}"></td>
    <td th:text="${post.content}"></td>
  </tr>
  </tbody>
</table>
<a th:href="@{/boards/{id}(id=${boardId})}">게시글 목록으로</a>
</body>
</html>